In [1]:
import pandas as pd
import data_util as du

In [2]:
import warnings
warnings.filterwarnings('ignore')


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# Read the data from the CSV file
data = pd.read_csv('../data/transactions.csv')

In [4]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         325 non-null    object
 1   Year         325 non-null    int64
 2   Month        325 non-null    int64
 3   Description  325 non-null    object
 4   Amount       325 non-null    float64
 5   Type         298 non-null    object
 6   Category     298 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 17.9+ KB

         Year       Month       Amount
count   325.0  325.000000   325.000000
mean   2024.0    5.215385   -32.493815
std       0.0    1.142505   410.391458
min    2024.0    3.000000 -2400.000000
25%    2024.0    4.000000    -1.000000
50%    2024.0    5.000000     5.080000
75%    2024.0    6.000000    33.900000
max    2024.0    7.000000  2400.000000

In [15]:
data[data['Type']=='credit'].min()

Date                                2024-04-18
Year                                      2024
Month                                        4
Description    *RFBT-FAIRVIEW MALL TORONTO, ON
Amount                                 -1600.0
Type                                    credit
Category                            Debit_Card
dtype: object

In [9]:
data.head()
data.info()

,Date,Year,Month,Description,Amount,Type,Category
0,2024-03-22,2024,3,PUREFECT WATER,-14.00,withdraw,Debit_Card
1,2024-03-22,2024,3,YUNSHANG RICE N,-49.67,withdraw,Debit_Card
2,2024-03-22,2024,3,View more SEND E-TFR ***rj9,-2200.00,withdraw,Debit_Card
3,2024-03-23,2024,3,No Transaction,0.00,NaN,NaN
4,2024-03-24,2024,3,No Transaction,0.00,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         325 non-null    object
 1   Year         325 non-null    int64
 2   Month        325 non-null    int64
 3   Description  325 non-null    object
 4   Amount       325 non-null    float64
 5   Type         298 non-null    object
 6   Category     298 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 17.9+ KB

In [ ]:
# Data Cleaning and Preparation:

# Ensure all dates are in a consistent format
# Verify that all amounts are correctly processed (as we've done)
# Check for and handle any missing values


# Basic Descriptive Statistics:

# Calculate total income (sum of positive amounts)
# Calculate total spending (sum of negative amounts)
# Determine net cash flow (income - spending)


# Time-based Analysis:

# Group transactions by month or week
# Calculate and plot spending trends over time
# Identify any seasonal patterns in spending or income


# Category Analysis:

# If you have category data, group transactions by category
# Calculate and visualize spending by category
# Identify top spending categories


# Transaction Frequency Analysis:

# Count the number of transactions per type (withdraw, deposit, credit)
# Analyze the frequency of transactions over time


# Average Transaction Analysis:

# Calculate average transaction amounts for each type
# Identify any unusually large transactions


# Credit Usage Analysis:

# Analyze the ratio of credit spending to total spending
# Track credit utilization over time


# Budget Comparison:

# If you have budget data, compare actual spending to budgeted amounts
# Calculate variances and identify areas of overspending


# Savings Rate Analysis:

# Calculate the savings rate (savings / income)
# Track how the savings rate changes over time


# Visualizations:

# Create line charts for spending and income trends
# Use pie charts or bar graphs for category breakdowns
# Implement heat maps for spending patterns across time



# Here's a basic example of how you might start this analysis in PySpark: